<div class="widthTwoThirds">
    <div class="accordion-container">
        <div class="expandcollapse-item" ng-repeat="type in vm.searchResults">
            <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <p>{{type.title}}</p>
            </div>
            <div class="slideDown" ng-hide="active">
                <div class="expand-collapse-content">
                    <table class="width98" id="plain-table">
                        <thead>
                            <tr>
                                <th>Rate</th>
                                <th>Disc Points</th>
                                <th>APR</th>
                                <th>Months Payment</th>
                                <th>Closing Costs</th>
                                <th>Rebate</th>
                                <th>Apply</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in type.items">
                                <td>{{item.rate}}</td>
                                <td>{{item.discPoints}}</td>
                                <td>{{item.apr}}</td>
                                <td>{{item.months}}</td>
                                <td>{{item.closingCost}}</td>
                                <td>{{item.rebate}}</td>
                                <td><a href="">Apply Now</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>