.accordion-container {
    width: 100%;
}

.expandcollapse-item {
    border-top: 1px solid #F0F0F0;
    overflow-y: auto;
}

.expandcollapse-heading-collapsed {
    cursor: pointer;
    padding: 15px 20px;
    color: black;
    background-color: #F0F0F0;
    margin-bottom: 1em;
}

.expandcollapse-item:first-of-type {
    border-top: 0;
}


.expandcollapse-heading-collapsed p {
    margin: 0;
}



.expandcollapse-heading-expanded {
    cursor: pointer;
    padding: 15px 20px;
    color: black;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
}

    .expandcollapse-heading-expanded p {
        margin: 0;
    }

.expand-collapse-content {
    padding: 20px;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 1em;
}


/*
animation:*/

.slideDown.ng-hide {
    height: 0;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
    overflow: hidden;
}

.slideDown {
    -moz-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
    overflow: auto;
}

    .slideDown.ng-hide-remove,
    .slideDown.ng-hide-add {
        /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
        display: block !important;
    }


    .slideDown.ng-hide-add {
        -moz-animation-name: hide;
        -o-animation-name: hide;
        -webkit-animation-name: hide;
        animation-name: hide;
        -moz-animation-duration: .5s;
        -o-animation-duration: .5s;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }



    .slideDown.ng-hide-remove {
        -webkit-animation-name: show;
        -moz-animation-name: show;
        -o-animation-name: show;
        animation-name: show;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        -o-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
